*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    border: 0.3rem solid black;
    overflow-y: hidden;
    overflow-x: hidden;
}
@media (max-width:500px) {
    .container{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .yourWeather{
        scale: 0.6;  
    }
.searchCity{
    scale: 2;
    
}
.fetchTemp{
    margin-left: -5%;
}
.tem{
    margin-left: -42px;
}
.city{
    margin-left: -3%;
}
 
.clouds{
    margin-left: 24%;
}
    .grantLocation{
     margin-left: 40%;
       
    }
    .background-clip{
        scale: 5;
       
    }
    .searchWeather{
        scale: 0.6;
        margin-left: 30%; 
    } 
   .flex2{
    margin-left: -50px;
   }
   .grantLocation{
   left: -70px;
   }
}
.background-clip{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 120vh;
}
.app{
    margin-left: 32vw;
    margin-top: 4rem;
    font-size: 5vw;
    color: rgb(231, 136, 11);
}
.fig{
    height: 74px;
    width: 80px;
}
.flex{
    display: flex;
    justify-content: space-around;

   
}
.yourWeather{
  
    color: rgb(166, 226, 14);
    /* height: 12vh;
    width: 32vw; */ height: auto;
 width: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: x-large;
    cursor: pointer;
}
.yourWeather.Tab{
  color: white; 
 background-color: rgb(126, 159, 178);
 box-shadow: 3px 3px lightblue;
 /* height: 55px;
 width: 13vw; */
 height: auto;
 width: auto;
}
.searchWeather{
 
    font-size: x-large;

    padding: 1rem;
    margin-left: 15vw;
    border-radius: 0.5rem;
    cursor: pointer;
    color: rgb(166, 226, 14);
    height: auto;
    width: auto; ;
}
.searchWeather.Tab{
    color: white;
    background-color: rgb(126, 159, 178);
    box-shadow: 3px 3px lightblue;
     /* height: 55px;
     width: 15vw; */
   height: auto;
   width: auto;
}
.grantLocation{
    display: grid;
    row-gap: 18px;
    width: 34vw;
    
    padding: 2.4rem;
    margin-left: 29vw;
   scale: 0;
}
.grantLocation.active{
    scale: 1;
}
.accessButton{
    cursor: pointer;
    padding: 2px;
    width: 15vw;
    background-color: rgb(126, 159, 178);
    box-shadow: 3px 3px lightblue;
    font-size:3vw ;
   

    
}
.accessButton:hover{
    background-color: aqua;
}

.flex2{
    display: flex;
    gap: 3vw;
   flex-wrap: wrap;
   
}
.flex3{
    display: flex;
   flex-direction: column;
   margin-left: 14vw;
}
.showData{
    height: 64vh;
    /* width: 62vw; */
    width: auto;
    margin-left: 27vw;
    margin-top: -38vh;
 
    border-radius: 1rem;
    scale: 0;
   
}
.fetchTemp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color:rgb(235, 11, 11);
    /* margin-left: 3%; */
}
.city{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color:rgb(235, 13, 13);
}
.windData{
    margin-left: -3%;
}
.showData.active{
   scale: 1;
}

.tempFig{
    /* height: 12vh; */
    width: 6vw;
   
    
}
.humidityFig{
    /* height: 12vh; */
    width: 6vw;
  
    
}
.cloudsFig{
    /* height: 12vh; */
    width: 6vw;
  
    
}
.windFig{
    /* height: 12vh; */
    width: 6vw;
}
 
.humidity{
    /* margin-left: 3rem; */
    background-color: rgb(194, 202, 202);
    border-radius: 5px;
    box-shadow: 1px 1px lightcyan;
    padding: 1%;
}
.clouds{
    /* height: 120px;
    width: 60px; */
    /* margin-left: 5rem; */
    background-color: rgb(194, 202, 202);
    border-radius: 5px;
    box-shadow: 1px 1px lightcyan;
    padding: 2%;

 
}
.speedWind{
    /* margin-left: 1rem; */
    background-color: rgb(194, 202, 202);
    border-radius: 5px;
    box-shadow: 1px 1px lightcyan;
    padding: 1%;
   
}
 .loading
 {
   
    scale: 0;
 }
 .loading.active{
    scale: 1;
 }

  

/* HTML: <div class="loader"></div> */
.loader { 
     margin-top: -65vh;
    margin-left: 40vw;
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
 
}
 

 
.searchCity{
    font-size: 2vw;
   box-shadow: 2px 2px lightblue;
   padding: 6px; 
}
.search{
    position: relative;
    margin-left: 35vw;
    scale: 0;
    margin-top: -5vh;
}
.search.active{
  scale: 1;
   
}
.hand{
    position: absolute;
    width: 34px;
    height: 34px;
    /* height: auto;
    width: auto; */
    margin-left: 0.6rem;
    /* margin-top: 0.2rem; */
   
}
