*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    border: 0.3rem solid black;
    overflow-y: hidden;
    overflow-x: hidden;
}
@media (max-width:640px) {
    .container{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .yourWeather{
        scale: 0.6;  
    }

   
    .grantLocation{
     margin-left: 40%;
       
    }
    .background-clip{
        scale: 5;
       
    }
    .searchWeather{
        scale: 0.6; 
    } 


   .showData{
    scale: 0.5;
    margin-left: -454px;
   }
   /* .flex{
    margin-left: -10px;
   } */

   .flex2{
    margin-left: -50px;
   }
   .grantLocation{
   left: -70px;
   }
   
  
}

.background-clip{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 120vh;
}
.app{
    margin-left: 32vw;
    margin-top: 4rem;
    font-size: 5vw;
    color: aliceblue;
}
.fig{
    height: 74px;
    width: 80px;
}
.flex{
    display: flex;
    justify-content: space-around;

}
.yourWeather{
   color:white;
    height: 12px;
    width: 272px;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: x-large;
    cursor: pointer;
}
.yourWeather.Tab{
 background-color: rgb(126, 159, 178);
 box-shadow: 3px 3px lightblue;
 height: 55px;
 width: 173px;
}
.searchWeather{
    font-size: x-large;
    height: 12px;
    width: 272px;
    padding: 1rem;
    margin-left: 15vw;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    
}
.searchWeather.Tab{
    background-color: rgb(126, 159, 178);
    box-shadow: 3px 3px lightblue;
     height: 55px;
     width: 193px;
}
.grantLocation{
    display: grid;
    row-gap: 18px;
    width: 34vw;
    
    padding: 2.4rem;
    margin-left: 29vw;
   scale: 0;
}
.grantLocation.active{
    scale: 1;
}
.accessButton{
    cursor: pointer;
    padding: 2px;
    width: 15vw;
    background-color: rgb(126, 159, 178);
    box-shadow: 3px 3px lightblue;
    font-size:3vw ;
   

    
}
.accessButton:hover{
    background-color: aqua;
}

.flex2{
    display: flex;
    gap: 3vw;
   flex-wrap: wrap;
   
}
.flex3{
    display: flex;
   flex-direction: column;
   margin-left: 14vw;
}
.showData{
    height: 64vh;
    width: 62vw;
    margin-left: 27vw;
    margin-top: -44vh;
 
    border-radius: 1rem;
    scale: 0;
   
}
.showData.active{
   scale: 1;
}

.tempFig{
    height: 12vh;
    width: 6vw;
   
    
}
.humidityFig{
    height: 12vh;
    width: 6vw;
  
    
}
.cloudsFig{
    height: 12vh;
    width: 6vw;
  
    
}
.windFig{
    height: 12vh;
    width: 6vw;
}
 
.humidity{
    height: 12vh;
    width: 6vw;
    margin-left: 3rem;
   
}
.clouds{
    height: 12vh;
    width: 6vw;
    margin-left: 5rem;
 
}
.SpeedWind{
    height: 12vh;
    width: 6vw;
   
}
 .loading
 {
   
    scale: 0;
 }
 .loading.active{
    scale: 1;
 }

  

/* HTML: <div class="loader"></div> */
.loader { 
     margin-top: -65vh;
    margin-left: 44vw;
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
 
}
 

 
.searchCity{
    font-size: 2vw;
   box-shadow: 2px 2px lightblue;
   padding: 6px; 
}
.search{
    margin-left: 35vw;
    scale: 0;
    margin-top: -12vh;
}
.search.active{
  scale: 1;
   
}
.hand{
    width: 34px;
    height: 34px;
    margin-left: -3rem;
    margin-top: 4rem;
   
}
